
<%= form_for(@request, html: { role: 'form', method: :post }) do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class=" form-group col-sm-6">
      <%= f.label :name %>
      <%= f.text_field :name, autofocus: true, class: 'form-control', disabled: true%>
    </div>
  </div> 

  <div class="row">
    <div class=" form-group col-sm-6">
      <%= f.label :email %>
      <%= f.email_field :email, autofocus: true, class: 'form-control', disabled: @disable_fields  %>
    </div>
  </div>

  <div class="row">
    <div class=" form-group col-sm-3">
      <%= f.label :phone %>
      <%= f.text_field :phone, autofocus: true, class: 'form-control', disabled: @disable_fields %>
    </div>

    <div class=" form-group col-sm-3">
      <%= f.label :other_phone, 'Blackberry' %>
      <%= f.text_field :other_phone, autofocus: true, class: 'form-control', disabled: @disable_fields %>
    </div>
  </div>


<hr/>


<div class="row">


  <div class="form-group col-sm-6">
    <%= f.label :description, 'Description' %>
    <%= f.text_area :description, placeholder: 'Description', class: 'form-control', disabled: @disable_fields %>
  </div>

</div>

<div class="row">
  

<div class="form-group col-sm-6">
<label>Issues</label>
<div class="panel panel-default ">

  <div class="panel-body">
    <% for issue in @issues %>
        <div>
          <%= check_box_tag "request[issue_ids][]", issue.id, @request.issues.include?(issue), disabled: @disable_fields  %>
          <%= issue.title %>
        </div>
    <% end %>
  </div>
</div>
</div>

</div>

<% if current_user.approver?  %>
  <%= hidden_field(:request, :issue_ids) %>

  <div class="row">
    <div class="form-group col-sm-6">
    <label for="status">Status:</label>
    <% [ 'approved', 'disapproved' ].each do |status| %>
      <br><%= radio_button_tag 'status', status, @status == status %>
      <%= status.humanize %>
    <% end %>

      </div>
  </div>
<% end %>

<% if current_user.worker?  %>
  <%= hidden_field(:request, :issue_ids) %>
  <div class="row">
    <div class="form-group col-sm-6">
    <label for="status">Status:</label>
    <% [ 'completed', 'approved' ].each do |status| %>
      <br><%= radio_button_tag 'status', status, @status == status %>
      <%= status.humanize %>
    <% end %>

      </div>
  </div>

<% end %>

<div class="actions">
    <%= f.submit :class => 'btn btn-primary button right' %>
</div>

<% end %>

<hr/>


