<%= simple_form_for @request  do |f| %>
  <% if @request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</h2>

      <ul>
      <% @request.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<%= f.input :name, placeholder: 'Name' %>

<%= f.input :email, placeholder: 'Email' %>

<%= f.input :phone, placeholder: 'Phone' %>

<%= f.input :other_phone, placeholder: 'Blackberry', label_input: 'Blackberry' %>

<hr/>
                
<div class="row">
<div class="col-md-6">
   
<%= f.input :laptop_issue, as: :boolean %>

<%= f.input :laptop_desc, placeholder: 'Description', label: 'Description' %>

</div>

<div class="col-md-6">
<%= f.input :software_issue, as: :boolean %>

<%= f.input :software_desc, placeholder: 'Description', label: 'Description' %>
</div>  
</div>

<div class="row">
<div class="col-md-6">


<%= f.input :blackberry_issue, as: :boolean %>

<%= f.input :blackberry_desc, placeholder: 'Description', label: 'Description' %>

</div>

<div class="col-md-6">

<%= f.input :email_issue, as: :boolean %>

<%= f.input :email_desc, placeholder: 'Description', label: 'Description' %>

</div>
</div>

<div class="row">
<div class="col-md-6">


<%= f.input :pst_issue, as: :boolean %>

<%= f.input :pst_desc, placeholder: 'Description', label: 'Description' %>


</div>

<div class="col-md-6">

<%= f.input :shared_folder_issue, as: :boolean %>

<%= f.input :shared_folder_desc, placeholder: 'Description', label: 'Description' %>

</div>
</div>

<div class="row">
<div class="col-md-6">


<%= f.input :other_hardware_issue, as: :boolean %>

<%= f.input :other_hardware_desc, placeholder: 'Description', label: 'Description' %>

</div>

<div class="col-md-6">

<%= f.input :air_card_issue, as: :boolean %>

<%= f.input :air_card_desc, placeholder: 'Description', label: 'Description' %>
  
</div>
</div>

<div class="row">
<div class="col-md-6">

<%= f.input :other_issue, as: :boolean %>

<%= f.input :other_desc, placeholder: 'Description', label: 'Description' %>

</div>
</div>

<%= f.button :submit  %>

<% end %>

<hr/>


