<h3>Listing Requests</h3>


<% if current_user.worker? %>

  <%= link_to 'Show All', {controller: 'requests', action: 'index'}  %> |
  <%= link_to 'Approved Only', {controller: 'requests', action: 'index', :by_status => 1}  %>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th>Subject</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Issue Type</th>
      <% if current_user.try(:admin?) %>
      <th colspan="2"></th>
      <% elsif current_user.approver? || current_user.worker? %>
        <th colspan="2"></th>
      <% else %>
      <th></th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% if @requests.count() == 0 %>
      <tr><td colspan="100"><p>No Requests found: <%= @requests.count() %></p></td></tr>
    <% else %>
    <% @requests.each do |request| %>
      <tr class='clickable-row'  data-href="<%= edit_request_path(request) %>" style="cursor:pointer">
        <td><%= request.name %></td>
        <td><%= request.subject %>
            <br/>
            <%= request.description %>
        </td>
        <td><%= request.status %></td>
        <td><%= request.assigned_to_role %></td>
        <td>
    <% for issue in @issues %>
 
          <%= issue.title if request.issues.include?(issue)  %>

    <% end %>
        </td>
       
        

      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>


<script>
jQuery(document).ready(function($) {
    $(".clickable-row").click(function() {
        window.document.location = $(this).data("href");
    });
});
</script>
<%= link_to 'New Request', new_request_path %>

