<h3>Listing Requests</h3>


<% if current_user.worker? || current_user.approver? || current_user.admin? %>
  <ul class="nav nav-pills" role="tablist">
    <li role="presentation" style="margin-right:10px" class="<%= 'active' if params[:by_status].nil? %>"> 
      <%= link_to 'Show All', {controller: 'requests', action: 'index'}, class: 'btn btn-default' %> 
    </li>
    <li role="presentation" style="margin-right:10px" class="<%= 'active' if params[:by_status] == '0' %>"> 
      <%= link_to 'New Only', {controller: 'requests', action: 'index', :by_status => 0}, class: 'btn btn-default'  %> 
    </li>
    <li role="presentation" class="<%= 'active' if params[:by_status] == '1' %>"> 
      <%= link_to 'Approved Only', {controller: 'requests', action: 'index', :by_status => 1}, class: 'btn btn-default'  %> 
    </li>
  </ul>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Created</th>
      <th>Updated</th>
      <th><%= sortable "name" %></th>
      <th>Subject</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Issue Type</th>
      <% if current_user.try(:admin?) %>
      <th colspan="2"></th>
      <% elsif current_user.approver? || current_user.worker? %>
        <th colspan="2"></th>
      <% else %>
      <th></th>
      <% end %>
    </tr>
    <% if @requests.count() != 0 %>
    <tr><th><%= @requests.count() %> Records </th></tr>
    <% end %>
  </thead>

  <tbody>
    <% if @requests.count() == 0 %>
      <tr><td colspan="100"><p>No Requests found: <%= @requests.count() %></p></td></tr>
    <% else %>

      <% @requests.each do |request| %>
        <tr class='clickable-row'  data-href="<%= edit_request_path(request) %>" style="cursor:pointer">
          <td>  <%= request.created_at.strftime("%m/%d/%Y")%>  <br/> <small><%=  request.created_at.strftime("%I:%M%p") %>&nbsp;EST</small></th>
          <td>  <%= request.updated_at.strftime("%m/%d/%Y")%>  <br/> <small><%=  request.updated_at.strftime("%I:%M%p") %>&nbsp;EST</small></th>
          <td><%= request.name %></td>
          <td><b><%= request.subject %></b>
              <br/>
              <small><%= request.description %></small>
          </td>
          <td><%= request.status %></td>
          <td><%= request.assigned_to_role %></td>
          <td>
            <% for issue in @issues %>
              <%= issue.title if request.issues.include?(issue)  %>
            <% end %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<button id="new-request" class="btn btn-default" type="button">New Request</button>

<script>
jQuery(document).ready(function($) {
    
    $(".clickable-row").click(function() {
      window.document.location = $(this).data("href");
    });
    
    $("#new-request").click(function() {
      window.location.href = '/requests/new';
    });

});
</script>



