<h2>Listing Requests</h2>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Other phone</th>
      <th>Issue Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.phone %></td>
        <td><%= request.other_phone %></td>
        <td>
          <%= if request.laptop_issue then 'Laptop' %>
          <%= if request.software_issue then 'Software' %>
          <%= if request.blackberry_issue then 'Blackberry' %>
          <%= if request.email_issue then 'Email' %>
          <%= if request.pst_issue then 'PST' %>
          <%= if request.shared_folder_issue then 'Shared Folder' %>
          <%= if request.other_hardware_issue then 'Other Hardware' %>
          <%= if request.air_card_issue then 'Air Card'%>
          <%= if request.other_issue then 'Other'%>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
