<h3>Listing Requests</h3>

<table class="table">
  <thead>
    <tr>
      <th><%= sortable "name" %></th>
      <th>Email</th>
      <th>Phone</th>
      <th>Other phone</th>
      <th>Status</th>
      <th>Assigned To</th>
      <th>Issue Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @requests.count() == 0 %>
      <tr><td colspan="100"><p>No Requests found: <%= @requests.count() %></p></td></tr>
    <% else %>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.name %></td>
        <td><%= request.email %></td>
        <td><%= request.phone %></td>
        <td><%= request.other_phone %></td>
        <td><%= request.status %></td>
        <td><%= request.assigned_to_role %></td>
        <td>
          <% if request.laptop_issue %>
            Laptop
          <% end %>
          <% if request.software_issue  %>
          Software
          <% end %>
          <% if request.blackberry_issue %>
          Blackberry
          <% end %>
          <% if request.email_issue %>
          Email
          <% end %>
          <% if request.pst_issue  %>
          PST
          <% end %>
          <% if request.shared_folder_issue  %>
          Shared Folder
          <% end %>
          <% if request.other_hardware_issue %>
          Other Hardware
          <% end %>
          <% if request.air_card_issue %>
          Air Card
          <% end %>
          <% if request.other_issue %>
          Other
          <% end %>
        <td><%= link_to 'Show', request %></td>
        <td><%= link_to 'Edit', edit_request_path(request) %></td>
        <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Request', new_request_path %>
