<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request.phone %>
</p>

<p>
  <strong>Other phone:</strong>
  <%= @request.other_phone %>
</p>

<p>
  <strong>Laptop issue:</strong>
  <%= @request.laptop_issue %>
</p>

<p>
  <strong>Laptop desc:</strong>
  <%= @request.laptop_desc %>
</p>

<p>
  <strong>Software issue:</strong>
  <%= @request.software_issue %>
</p>

<p>
  <strong>Software desc:</strong>
  <%= @request.software_desc %>
</p>

<p>
  <strong>Blackberry issue:</strong>
  <%= @request.blackberry_issue %>
</p>

<p>
  <strong>Blackberry desc:</strong>
  <%= @request.blackberry_desc %>
</p>

<p>
  <strong>Email issue:</strong>
  <%= @request.email_issue %>
</p>

<p>
  <strong>Email desc:</strong>
  <%= @request.email_desc %>
</p>

<p>
  <strong>Pst issue:</strong>
  <%= @request.pst_issue %>
</p>

<p>
  <strong>Pst desc:</strong>
  <%= @request.pst_desc %>
</p>

<p>
  <strong>Shared folder issue:</strong>
  <%= @request.shared_folder_issue %>
</p>

<p>
  <strong>Shared folder desc:</strong>
  <%= @request.shared_folder_desc %>
</p>

<p>
  <strong>Other hardware issue:</strong>
  <%= @request.other_hardware_issue %>
</p>

<p>
  <strong>Other hardware desc:</strong>
  <%= @request.other_hardware_desc %>
</p>

<p>
  <strong>Air card issue:</strong>
  <%= @request.air_card_issue %>
</p>

<p>
  <strong>Air card desc:</strong>
  <%= @request.air_card_desc %>
</p>

<p>
  <strong>Other issue:</strong>
  <%= @request.other_issue %>
</p>

<p>
  <strong>Other issue:</strong>
  <%= @request.other_issue %>
</p>

<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
