

<p>
  <strong>Created:</strong>
  <%= @request.created_at.strftime("%m/%d/%Y")%>  <small><%=  @request.created_at.strftime("%I:%M%p") %>&nbsp;EST</small>
</p>

<p>
  <strong>Last Updated:</strong>
  <%= @request.updated_at.strftime("%m/%d/%Y")%>   <small><%=  @request.updated_at.strftime("%I:%M%p") %>&nbsp;EST</small>
</p>

<p>
  <strong>Name:</strong>
  <%= @request.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @request.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @request.phone %>
</p>

<p>
  <strong>Other phone:</strong>
  <%= @request.other_phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @request.status %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= @request.assigned_to_role %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @request.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @request.description %>
</p>

<p>
  <strong>Issue(s):</strong>

    <% for issue in @issues %>
 
          <%= issue.title if @request.issues.include?(issue)  %>

    <% end %>
</p>

<p>
  <strong>Comments:</strong>
<% if @comments.count > 0 %>
<% @comments.each do |p| %>
    <div class="row">

      <div class="form-group col-sm-6">
        &nbsp;&nbsp;
         <small><%= localize(p.created_at, :format => :long) %> &nbsp;&nbsp; <%= p.user.name if p.user != nil %></small>
        
        <div style="margin-left:30px;">
         <%= p.comment %>
        </div>
         
      </div>

    </div>

<% end %>
<% end %>
</p>

<p>
  <strong>Assigned To:</strong>
  <%= @request.assignee.name if !@request.assignee.nil? %>
</p>


<% if current_user.try(:admin?) %>
<%= link_to 'Edit', edit_request_path(@request) %> |
<% end %>
<%= link_to 'Back', requests_path %>
