<h2>Listing Users</h2>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Other phone</th>
      <th>Role</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr class='clickable-row'  data-href="<%= edit_admin_user_path(user) %>" style="cursor:pointer">
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td><%= user.phone %></td>
        <td><%= user.other_phone %></td>
        <td><%= user.role %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<button id="new-user" class="btn btn-default" type="button">New User</button>

<script>
jQuery(document).ready(function($) {
    
    $(".clickable-row").click(function() {
      window.document.location = $(this).data("href");
    });
    
    $("#new-user").click(function() {
      window.location.href = '/admin/users/new';
    });

});
</script>